<!-- Header End -->
<div class="container-xxl py-5 bg-dark page-header mb-5">
    <div class="container my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Register</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">{{title}}</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Header End -->
<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Register</h1>
        <div class="row g-4">
            <div class="col-12">
                <div class="row gy-4">
                    <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">

                    </div>

                    <div class="col-lg-4 col-md-6 w-40">
                        <form (submit)="saveData()" #registerForm = "ngForm">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="firstname" placeholder="First Name"
                                            name="name" [(ngModel)] = "userObj.firstName">
                                        <label for="firstname" required>First Name</label>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="lastname" placeholder="LastName" [(ngModel)] = "userObj.lastName" name="lastName">
                                        <label for="lastname">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="email" placeholder="Email" [(ngModel)] = "userObj.email" name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="contact"
                                            placeholder="Contact Number"  [(ngModel)] = "userObj.contact" name="contact">
                                        <label for="contact">Contact Number</label>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="password" placeholder="Password" [(ngModel)] = "userObj.password" name="password">
                                        <label for="password">Password</label>

                                    </div>
                                </div>
                                <div class="col-12">


                                    <button class="btn btn-primary w-100 py-3" type="submit" routerLink="/JobSeeker/Home">Register</button>   


                                    If you already have an account <a routerLink="/JobSeeker/Login"><span
                                            class="text-primary" style="cursor: pointer">Login..</span>
                                    </a>

                            




                                    <!-- Contact End -->